---
import Skills from "./Skills.astro";
---

<div class="flex gap-8 mx-auto w-4xl pt-6">
   <div class="w-1/2">
      <h2 class="text-[#1e1e1e] pb-4 font-extrabold text-2xl">About</h2>
      <p>
         Tecnólogo de Análise e Desenvolvimento de Sistemas, residente em Quixadá (CE) 
         Tenho 46 repositórios públicos no GitHub, onde desenvolvo projetos 
         utilizando JavaScript, TypeScript, Python, além de tecnologias web como HTML, CSS e Git, 
         o que mostra versatilidade e foco em soluções práticas.
      </p>
   </div>
   <div class="w-1/2 ">
      <h2 class="text-[#1e1e1e] pb-4 font-extrabold text-2xl">Skills</h2>
      <Skills />
   </div>
</section>