---
import Skills from "./Skills.astro";
---

<div class="flex gap-8 mx-auto w-4xl pt-6">
   <div class="w-1/2">
      <h2 class="text-[#1e1e1e] text-justify pb-4 font-extrabold text-2xl">About</h2>
      <p>   
         Systems Analysis and Development Technologist based in Quixadá, Ceará, dedicated to crafting efficient and practical solutions.
         I develop with JavaScript, TypeScript, and Python, and work with HTML, CSS, and Git—demonstrating versatility and a strong focus on real-world applications.
      </p>
   </div>
   <div class="w-1/2 ">
      <h2 class="text-[#1e1e1e] pb-4 font-extrabold text-2xl">Skills</h2>
      <Skills />
   </div>
</section>