---
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedin from "./icons/IconLinkedin.astro";
import IconMail from "./icons/IconMail.astro";


---
<div class="py-12 px-4">
    <h2 class="text-center text-[#1e1e1e] pb-4 font-extrabold text-2xl">Contacts</h2>
    <div class="max-w-4xl mx-auto px-6">
      <div role="list" class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <a href="mailto:jeffersonqx@gmail.com" class="md:text-sm flex items-center gap-3 p-4 text-[#4F4F4F] hover:text-[#1E1E1E] bg-[#DDEAF0]  rounded-sm border border-[#D9D9D9] hover:scale-105 transition-transform">
          <IconMail class="text-[#1E1E1E]"/>
          <span>jeffersonqx@gmail.com</span>
        </a>
        <a href="https://github.com/jefferson-gbarbosa" class="md:text-sm flex items-center gap-3 p-2 text-[#4F4F4F] hover:text-[#1E1E1E] bg-[#DDEAF0] rounded-sm border border-[#D9D9D9] hover:scale-105 transition-transform">
        <IconGithub class="text-[#1E1E1E]"/>
          <span>github.com/jefferson-gbarbosa</span>
        </a>
        <a href="https://www.linkedin.com/in/jefferson-gbarbosa/" class="md:text-sm flex items-center gap-3 p-4  text-[#4F4F4F] hover:text-[#1E1E1E] bg-[#DDEAF0] rounded-sm border border-[#D9D9D9] hover:scale-105 transition-transform">
          <IconLinkedin class="text-[#1E1E1E]"/>
          <span>linkedin.com/in/jefferson-gbarbosa</span>
        </a>
      </div>
    </div>
</div>