<div class="container py-4 text-center text-[#1e1e1e] bg-[#EAF6FA]">
  <p>© {new Date().getFullYear()} Todos os direitos reservados <a href="https://github.com/jefferson-gbarbosa" target="_blank" rel="noopener noreferrer" class="hover:text-[#4F4F4F]">Jefferson Gonçalves</a>.</p>
</div>