<div>
    <h2 class="text-center text-[#1e1e1e] pb-4 font-extrabold text-2xl">Education</h2>
    <div class="flex gap-8">
        <div class="w-full bg-white p-10 rounded-md" style="box-shadow: 0px 10px 25px #D9D9D9;">
            <h3 class="text-center text-[#1e1e1e] pb-4 font-extrabold text-[20px]">Academic Education</h3>
            <ul class="list-disc pl-5 text-[#4F4F4F] font-medium text-justify">
                <li>
                Technologist in Systems Analysis and Development – Estácio de Sá University – 
                2023 / Expected completion in 2025
                </li>
            </ul>
        </div>
        <div class="w-full bg-[#FFFFFF] p-10 rounded-md " style="box-shadow: 0px 10px 25px #D9D9D9;">
            <h3 class="text-center text-[#1e1e1e] pb-4 font-extrabold text-[20px]">Certification</h3>
            <ul class="list-disc pl-5 text-[#4F4F4F] font-medium text-justify">
                <li class="pb-10">
                    FEA-Dev: Python from Basic to Intermediate – USP – 2023: 
                    Introductory and intermediate course in Python, covering concepts such as programming logic, 
                    conditional structures and loops, introduction to functions and the Pandas library, data visualization. 
                    Duration: 7 hours and 45 minutes.
                </li>
                <li>
                    Bootcamp Coding The Future Vivo - Python AI Backend Developer – DIO – 2024: 
                    Curso básico, abordando conceitos em funções de Python com estrutura de dados, 
                    conceitos importantes de orientação a objetos (POO), além de aprender a integrar esse conhecimento ao framework 
                    Fast API e LangChain para aprofundar desenvolvimento web construindo APIs a partir da metodologia de testes unitários com TDD. 
                    Carga horária de 67 horas.
                </li>
            </ul>
        </div>
    </div>
</div>