---
import IconDio from "./icons/IconDio.astro";
import IconFronEndMentor from "./icons/IconFronEndMentor.astro";
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedin from "./icons/IconLinkedin.astro";
---

<header>
    <div class='relative min-h-screen w-full flex items-center justify-center overflow-hidden'>   
        <img src='/bg.jpg' alt="background" class="absolute inset-0 w-full h-full object-cover -z-10"/>
        <div class="absolute inset-0 bg-[#161713] opacity-80 -z-10" />
        <div>
            <div class="grid place-items-center">
            <div class="border-4 border-[#fbfefd] w-36 h-36 justify-self-center rounded-full grid place-items-center">
                <div class="w-32 h-32 border flex items-end justify-center rounded-full overflow-hidden">
                    <img src="/me.png" alt='Perfil'/>
                </div>
            </div>
            <h2 class="text-xl text-[#e1eeef] font-semibold">Jefferson Gonçalves</h2>
            <h3 class="text-base font-medium text-[#909493]">Desenvolvedor Front End</h3>
            <ul class='flex items-center gap-3 pt-4 '>
                <a href="https://www.linkedin.com/in/jefferson-gbarbosa/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn" class="transform transition-transform duration-300 ease-in-out hover:scale-125">
                    <IconLinkedin class="text-[#eaf6fa]"/>
                </a>
                <a href="https://github.com/jefferson-gbarbosa" target="_blank" rel="noopener noreferrer" aria-label="GitHub" class="transform transition-transform duration-300 ease-in-out hover:scale-125">
                    <IconGithub class="text-[#eaf6fa]"/>
                </a>
                <a href="https://www.frontendmentor.io/profile/jefferson-gbarbosa" target="_blank" rel="noopener noreferrer" aria-label="Front End Mentor" class="transform transition-transform duration-300 ease-in-out hover:scale-125">
                    <IconFronEndMentor class="text-[#eaf6fa]"/>
                </a>
                <a href="https://www.dio.me/users/jeffersonqx" target="_blank" rel="noopener noreferrer" aria-label="Dio" class="transform transition-transform duration-300 ease-in-out hover:scale-125">
                    <IconDio class="text-[#eaf6fa]"/>
                </a>
            </ul>
        </div> 
        </div>
    </div>
</header>